@font-face {
    font-family: 'EduROM-Medium';
    src: url('fonts/EduROM-Medium.woff') format('woff');
}

html,
body {
    overscroll-behavior: none;
    height: 100%;
    margin: 0;
    overflow: hidden;
    scrollbar-width: none;
    background-color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    font-family: 'EduROM-Medium';
    font-weight: normal;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    scrollbar-width: none;
}

:root {
    --hoverSpeed: 0.8s;
    --gridSize: 25px;
    --buttonBorderSize: 2px;
    --fixedGridSize: 25px;
}

/**/
/* Typographie */
/**/

p,
h1,
ul,
li {
    color: white;
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.2;
}

/* Teletext */

h2,
h2 a {
    color: black;
    font-size: 1.25rem;
    line-height: 0;
    text-align: center;
}

ul,
li {
    list-style: none;
    padding-left: 0;
}

.small,
small {
    color: white;
    font-size: clamp(0.7rem, 3.5vw, 1rem);
    text-align: left;
    line-height: auto;
}

.link,
a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.link:hover,
h2 a:hover {
    font-style: italic;
    text-decoration: none;
}

p a:hover {
    font-style: italic;
}

/**/
/* Buttons */
/**/

.buttonBlackA,
.buttonBlackB,
.buttonWhiteA,
.buttonWhiteB {
    position: relative;
    width: auto;
    height: calc(var(--fixedGridSize)/5*4);
    border-radius: 25px;
    padding-inline: 10px;
    font-size: 0.75rem;
    cursor: pointer;
    line-height: 0;
    padding-top: 2px;
    margin-right: calc(var(--fixedGridSize)/6);

}

.buttonBlackA {
    color: white;
    border: solid black var(--buttonBorderSize);
    background-color: black;
}

.buttonBlackB {
    color: white;
    border: solid white var(--buttonBorderSize);
    background-color: black;

}

.buttonWhiteA {
    color: black;
    border: solid white var(--buttonBorderSize);
    background-color: white;
}

.buttonWhiteB {
    color: black;
    border: solid black var(--buttonBorderSize);
    background-color: white;
}

.buttonWhiteB.active {
    color: white;
    border: solid white var(--buttonBorderSize);
    background-color: black;
}

.buttonBlackA.clicked {
    color: black;
    border: solid black var(--buttonBorderSize);
    background-color: white;
}

.buttonBlackA:hover,
.buttonBlackB:hover,
.buttonWhiteA:hover,
.buttonWhiteB:hover {
    padding-inline: 15px;
    cursor: pointer;
}

#genreButton {
    cursor: auto;
}

#genreButton:hover {
    padding-inline: 10px;
    cursor: auto;
}

input {
    -webkit-appearance: none;
    background: transparent;
    background-color: black;
    height: var(--buttonBorderSize);
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: var(--buttonBorderSize) solid black;
    height: calc(var(--fixedGridSize)/5*3);
    width: calc(var(--fixedGridSize)/5*3);
    border-radius: 100px;
    background: white;
    cursor: pointer;
}

/* All the same stuff for Firefox */
input::-moz-range-thumb {
    border: var(--buttonBorderSize) solid black;
    height: calc(var(--fixedGridSize)/5*3);
    width: calc(var(--fixedGridSize)/5*3);
    border-radius: 100px;
    background: white;
    cursor: pointer;
}

/* All the same stuff for IE */
input::-ms-thumb {
    border: var(--buttonBorderSize) solid black;
    height: calc(var(--fixedGridSize)/5*3);
    width: calc(var(--fixedGridSize)/5*3);
    border-radius: 100px;
    background: white;
    cursor: pointer;
}

/* Site */

.header {
    position: fixed;
    padding-top: var(--gridSize);
    padding-bottom: var(--gridSize);
    padding-inline: var(--gridSize);
    top: 0;
    left: 0;
    line-height: 1.7;
    z-index: 9999;
    display: block;
    flex-direction: column;
}

.buttonContainer {
    position: absolute;
    padding-inline: var(--gridSize);
    z-index: 9999;
    width: calc(100% - var(--gridSize)* 3);
    opacity: 0;
    transition: 0.6s ease;
}

.infoButton button {
    bottom: 0;
}

.imageContainer {
    position: absolute;
    white-space: nowrap;
    overflow-y: none;
    z-index: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.genreImageContainer {
    position: relative;
    overscroll-behavior: none;
    overflow-x: auto;
    overflow-y: none;
    height: 100%;
    display: inline-block;
    margin-right: 5px;
    white-space: nowrap;
    background-color: whitesmoke;
    scrollbar-width: none;
    transition: 0.4s ease;
    cursor: pointer;
}

.imageBox {
    position: relative;
    display: inline-block;
    height: 80%;
    margin-inline: 50px;
    box-shadow: 0px 0px 50px black;
}

.imageBox img {
    position: relative;
    width: auto;
    height: 100%;
    object-fit: cover;
}

#imageBox0 {
    position: relative;
    display: inline-block;
    margin-inline: 0;
    height: 100%;
    top: 0;
    /* width: 100%; */
    z-index: 100;
}

#imageBox0 img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 900px) {

    :root {
        --gridSize: 15px;
    }

    /*hover*/

    .link:hover,
    h2 a:hover {
        font-style: normal;
        text-decoration: none;
    }

    p a:hover {
        font-style: normal;
    }

    .buttonBlackA:hover,
    .buttonBlackB:hover,
    .buttonWhiteA:hover,
    .buttonWhiteB:hover {
        padding-inline: 10px;
    }

    /* Site */

    .header {
        display: flex;
        flex-direction: column;
    }

    .imageContainer {
        position: absolute;
        white-space: normal;
        z-index: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .genreImageContainer {
        position: relative;
        overscroll-behavior: none;
        display: block;
        white-space: auto;
        overflow-x: none;
        overflow-y: auto;
        height: 12.5%;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 3px;
    }

    .imageBox {
        position: relative;
        display: block;
        width: 80%;
        height: auto;
        margin-inline: 0px;
        margin-bottom: 100px;
        height: auto;
        box-shadow: 0px 0px 50px black;
    }

    .imageBox img {
        position: relative;
        width: 100%;
        height: auto;
    }

    #imageBox0 {
        position: relative;
        display: inline-block;
        margin-inline: 0;
        width: 100%;
        height: 100%;
        /* width: 100%; */
        z-index: 100;
    }

    #imageBox0 img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .buttonContainer {
        position: fixed;
        padding-inline: var(--gridSize);
        left: 0;
        z-index: 9999;
        width: 100%;
        opacity: 0;
        transition: 0.6s ease;
    }

    .infoButton button {
        position: absolute;
        bottom: 0;
    }
}
